.App {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  background: url('./assests/lightning-weatherly.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.background {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
