.CurrentWeather {
  grid-area: CurrentWeather;
  color: midnightblue;
  margin-bottom: 0px;

}
h1 {
  margin-top: 0;
}

.temp {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 5em;
}

.icon-description {
  display: flex;
  justify-content: center;
}

.description {
  font-size: 2rem;
  margin: 0;
}

img {
   width: 40px;
   height: 40px;
   margin: 0 0 0 10px;
}

.update {
  margin-right: 5px;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0;
}

.high-low {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.high {
  margin-right: 5px;
}

.location {
  margin-top: 25px;
  color: midnightblue;
  font-size: 2.5rem
}

.todays-forecast {
  margin: 0 55px 0 55px;
}






