.DayCard {
  margin: 15px 5px;
  color: midnightblue;
  background-color: rgba(124, 159, 190, 0.65);
  font-size: .75rem;
  line-height: .75rem;
  padding: 3px;
  display: flex;
  justify-content: space-around;
}

.detail-icon {
  width: 25px;
  height: 25px; 
  margin: 5px;
  text-align: center;
}
