.Search {
  grid-area: Search;
}

.title {
  font-family: Tahoma;
  font-size: 3.5rem;
  margin-top: 25px;
  color: midnightblue;
}

form {
  margin: 1px 1px 1px 1px;
  display: flex;
  justify-content: center;
}

input {
  height: 2.2rem;
  width: 20rem;
  padding-left: 5px;
  color: midnightblue;
}

button {
  height: 2.55rem;
  width: 5rem;
  margin-left: 5px;
}

.suggest {
  height: 2.55rem;
  width: 10rem;
  padding-left: 5px;

}