.Search {
  grid-area: Search;
  /*margin: 0 auto;*/

}

.title {

}

form {
  margin: 1px 1px 1px 1px;
  display: flex;
  justify-content: center;


}

input {
  height: 2.2rem;
  width: 20rem;
  padding-left: 5px;
  /*border: none;*/

}

button {
  height: 2.55rem;
  width: 5rem;
  margin-left: 5px;

  /*border: none;*/
}